h1 {
  color: orange;
  background-color: slateblue;
  font-weight: 300;
  text-align: center;
}
p {
  color: slategray;
  line-height: 30px;
  column-count: 2;
  column-gap: 20px;
  /* border: inherit;
  margin: inherit; */
}
p.error {
  color: violet;
}
p.success {
  color: hsl(240, 59%, 58%);
}
p.success.feedback {
  border: 1px solid rgb(74, 218, 194);
}
ul {
  border: 4px solid crimson;
}
li {
  list-style-type: none;
  text-shadow: 2px 2px lightgray;
}
div {
  /* display: inline;
  display: block; // this is the default */
  border: 2px solid green;
  margin: 20px;
  padding: 20px;
}
span {
  display: inline-block;
}
a[href="google"]{
 color: rgb(141, 0, 118);
 font-weight: bold;
 text-transform: uppercase;
 font-size: larger;
}